<header>
    <style>
        header {
            display: flex;
            justify-content: space-evenly;
        }

        header ul {
            display: flex;
            list-style: none;
        }

        header ul li {
            padding-left: 20px;
        }
    </style>
    <h1>My Website</h1>
    <img src="<%=  %>" alt="">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/listing">Listing</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/userlogin">Login</a></li>
            <li><a href="/upload">Image Uplaod</a></li>
            <li><a href="/display">Ditto</a></li>
        </ul>
    </nav>
</header>